@font-face {
    font-family: Digital;
    src: url(../fonts/DS-DIGI.TTF) format('truetype');
}

html, body {
    height: 100%;
    width: 100%;
}

/*CheckBox*/
#body {
    display: flex;
    justify-content: flex-end;
}

.containerBtn {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    font-size: 20pt;
    font-family: Digital, sans-serif;
}

.toggler-wrapper {
  display: block;
  width: 45px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

.toggler-wrapper input[type="checkbox"] {
  display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
  background-color: rgb(93, 211, 93);
}

.toggler-wrapper .toggler-slider {
  background-color: #405b57;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper.style-1 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
    left: calc(100% - 19px - 3px);
}

.toggler-wrapper.style-1 .toggler-knob {
    width: calc(25px - 6px);
    height: calc(25px - 6px);
    border-radius: 50%;
    left: 3px;
    top: 3px;
    background-color: #fff;
}

/*Clock*/
#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
}

#detalhe {
    background-color: #c74747;
    height: 10px;
    width: 40%;
    border: solid 5px #000;
    border-bottom: none;
}

#relogio {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #787d86;
    border: solid 5px #000;
    border-radius: 10px;
}

#display {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: Digital, sans-serif;
    font-size: 62pt;
    border: solid 5px #000;
}

/*DarkMode*/
.lightMode {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% );
}

.darkMode {
    background-image: linear-gradient( 94.3deg,  rgb(12, 12, 12) 10.9%, rgb(9, 9, 20) 87.1% );
}

.day {
    background-color: #405b57;
    color: #000000;
}

.night {
    background-color: rgb(93, 211, 93);
    box-shadow: rgb(93, 211, 93) 0px 0px 50px;
}

.color {
    color: rgb(93, 211, 93);
}