/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: Digital;
    src: url(../fonts/DS-DIGI.TTF) format('truetype');
}

/**/
html, body {
    height: 100%;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: max(5vw, 40pt);
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
}

/*CheckBox*/
.containerBtn {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    font-size: 20pt;
    font-family: Digital, sans-serif;
}

.toggler-wrapper {
  display: block;
  width: 45px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

.toggler-wrapper input[type="checkbox"] {
  display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
  background-color: #6faf6f;
}

.toggler-wrapper .toggler-slider {
  background-color: #409480;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper.style-1 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
    left: calc(100% - 19px - 3px);
}

.toggler-wrapper.style-1 .toggler-knob {
    width: calc(25px - 6px);
    height: calc(25px - 6px);
    border-radius: 50%;
    left: 3px;
    top: 3px;
    background-color: #fff;
}

/*Clock*/
#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#detalhe {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#detalhe div {
    height: 15px;
    border-radius: 5px;
    border: solid 5px #000;
    border-bottom: transparent;
    width: 15%;
}

#detalhe div:nth-child(1) {
    margin-left: 30px;
    background-color: #b63546;
}

#detalhe div:nth-child(2) {
    background-color: #F6EE86;
}

#relogio {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #424f7a;
    border: solid 5px #000;
    border-radius: 10px;
}

#display {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-family: Digital, sans-serif;
    font-size: max(10vw, 40pt);
    border: solid 5px #000;
}

#pes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#pes div {
    border: solid 5px #000;
    border-top: none;
    height: 15px;
    width: 15%;
    background-color: #34393f;
    border-radius: 5px;
}
/*DarkMode*/
.lightMode {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% );
}

.darkMode {
    background-image: linear-gradient( 94.3deg,  rgb(12, 12, 12) 10.9%, rgb(0, 0, 0) 87.1% );
}

.day {
    background-color: #409480;
    color: #000000;
}

.night {
    background-color: #6faf6f;
    box-shadow: #6faf6f 0px 0px 50px;
}

.color {
    color: #6faf6f;
}